@tailwind base;
@tailwind components;
@tailwind utilities;




.container-login{
    background-image: url("https://cdn.pixabay.com/photo/2015/09/05/21/51/reading-925589_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    
}

.image-login{
    background-image: url("https://cdn.pixabay.com/photo/2015/09/05/21/51/reading-925589_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    
}

